<div id="footer">
    <div class="footer-head">
        <h3 class="footer-text">Contact us</h3>
        <div id="contact">
            <h3 class="footer-text">support@fakeCompany.com</h3>
            <h3 class="footer-text">(123)-456-789</h3>
        </div>
    </div>
    <table id="footer-table">
        <thead>
            <tr>
                <th scope="col" style="width: 25%">My Acount</th>
                <th scope="col" style="width: 25%">More About Us</th>
                <th scope="col" style="width: 25%">Customer Service</th>
                <th scope="col" style="width: 25%">Buy & Sell</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="footer-link">Lorem</th>
                <th class="footer-link">Ipsum</th>
                <th class="footer-link">Lorem Ipsum</th>
                <th class="footer-link">Dolor</th>
            </tr>
            <tr>
                <th class="footer-link">Sit Dolor</th>
                <th class="footer-link">Met</th>
                <th class="footer-link">Lorem Ipsum Dolor</th>
                <th class="footer-link">Ipsum Dollor</th>
            </tr>
            <tr>
                <th class="footer-link">Lorem Ipsum</th>
                <th class="footer-link">Ipsum Dolor Sit</th>
                <th class="footer-link">Sit Amet</th>
                <th class="footer-link">Dolor Sit Amet</th>
            </tr>
            <tr>
                <th class="footer-link">Lorem Ipsum Dolor Sit</th>
                <th class="footer-link">Lorem</th>
                <th class="footer-link">Lorem</th>
                <th class="footer-link">Lorem</th>
            </tr>
        </tbody>
    </table>
    <div id="subscribe">
        <h2 id="subscribe-title">Subscribe to our newsletter!</h2>
        <label id="email-label" for="email">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, alias corporis sint nemo odio itaque tempora veritatis sit voluptatem aspernatur enim, rem culpa excepturi debitis, ipsum qui. Architecto, sapiente asperiores.</label>
        <input type="text" name="email" id="footer-email">
        <input type="submit" id="footer-submit">
    </div>
</div>