<div id="shopping-page-container">
    <div id="shopping-page-menu">
        <ul id="shopping-menu-list" >
            <li class="menu-list-item" *ngFor="let category of categories" (click)="getByCategory(category)">{{ category }}</li>
            <input type="text" id="title-search">
        </ul>
    </div>
    <div class="filter-items-wrapper">
        <div class="filters">
            <button mat-button [matMenuTriggerFor]="sort" id="sort-btn">
                Sort By..
            </button>
            <mat-menu #sort="matMenu" overlapTrigger>
                <button mat-menu-item (click)="getItems()">
                    Relevance
                </button>
                <button mat-menu-item (click)="sortByPriceHighToLow()">
                    Price (High to Low)
                </button>
                <button mat-menu-item (click)="sortByPriceLowToHigh()">
                    Price (Low to High) 
                </button>
            </mat-menu>
            <button mat-button (click)="toggleView()" id="toggle-view-btn">Toggle List View</button>
            <label for="min-price" style="margin-left: 10px; color: white;">max</label>
            <input type="number" name="min-price" value="50" min="1" class="price" [ngModel]="maxPrice" (ngModelChange)="onChange($event)">
        </div>
        <div id="item-container" *ngIf="!toggleListView">
            <app-item *ngFor="let item of items" [itemPassed]="item"></app-item>
        </div>
        <div class="loader" *ngIf="loading$"></div>
        <div class="list-view" *ngIf="toggleListView">
            <div *ngFor="let item of items" class="list-view-item">
                <div class="overlay"></div>
                <h3>${{ item.price }}</h3><span> {{ item.title }}</span>
            </div>
        </div>
    </div>
</div>